<h4>Overview</h4>
<div class="ui-g">
  <div class="ui-g-12 ui-g-nopad">
    Current odometer is {{overview.currentOdometer.odometer}}km.
    Last updated on {{overview.currentOdometer.odometerDay}}.
  </div>
  <div class="ui-g-12 ui-g-nopad">
    Allowed distance: {{overview.maximumDistance}}km.
  </div>
  <div class="ui-g-12 ui-g-nopad">
    Remaining distance: {{overview.remainingDistance}}km.
  </div>
  <div class="ui-g-12 ui-g-nopad">
    Average distance per day: {{overview.averageDistancePerDay}}km.
  </div>
  <div class="ui-g-12 ui-g-nopad">
    Return date: {{overview.returnDay}}.
  </div>
  <div class="ui-g-12 ui-g-nopad">
    Remaining days: {{overview.remainingDays}}.
  </div>
</div>