body {
    background-color: #8891be !important;
    font-weight: 100 !important;
}

h1 {
    font-weight: 300 !important;
}

.card {
    border-radius: 0px;
    box-shadow: 0 1px 2px 0 rgba(0,0,0,.15);
}

.bg-dark {
    background-color: #211657 !important
}

.card {
    background-color: #ecedd1 !important;
}

.bg-success {
    background-color: #56639d !important
}
.bg-error {
    background-color: #8a2236 !important
}

.text-white {
    color: #ecedd1 !important;
}

input {
    border-radius: 0px !important;
    background-color: #ecedd1 !important;
}
.form-check-input:checked {
    background-color: #211657 !important;
    border-color:  #211657 !important;
}

.form-check-input {
    background-color: #ecedd1 !important;
    box-shadow: 0 5px 9px 0 rgba(0,0,0,.15);
}
.btn,a {
    border-radius: 0px !important;
    box-shadow: 0 5px 9px 0 rgba(0,0,0,.15);
}
.btn-primary {
    background-color: #211657 !important;
    border-color:  #ecedd1 !important;
    color:  #ecedd1 !important;
}

.btn-secondary {
    background-color: #211657 !important;
    border-color:  #211657 !important;
    color:  #ecedd1 !important;
}

.autoimage {
    width: 80%;
    margin-top: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}